[submodule "Backend/Licenta"]
	path = Backend/Licenta
	url = https://github.com/Patrascan-Lazar-30021/Proiect-Licenta.git
[submodule "Frontend/FE"]
	path = Frontend/FE
	url = https://github.com/Patrascan-Lazar-30021/Frontend.git
